.contact-me { height: 500px; }

.contact-form-container { 
    flex: 1; 
    padding-top: 56px;
    padding-left: 14px;
}

.contact-options { flex: 1; }

.contact-form { 
    width: 600px; 
    margin-top: 32px;
}

.grid--contact-form-layout { 
    row-gap: 20px; 
    align-items: center;
}

.contact-form input { 
    height: 32px;
    width: 400px;     
} 

.btn--send-message { 
    width: 100%; 
    text-align: center;
}