.grid--contact-form-layout { 
    row-gap: 2rem; 
    align-items: center;
}

.contact-form { 
    width: 60rem; 
    margin-top: 3.2rem;
}

.contact-form input { 
    height: 3.2rem;
    width: 40rem;        
} 

.contact-form input { letter-spacing: 1.2px; }
.contact-form textarea { resize: none; }

.contact-form input, .contact-form textarea {
    font-size: 16px;
    color: var(--dark-bg); 
    font-family: 'Poppins';
    padding: 0 6px;
    border: 1px solid var(--medium-bg);
    transition: all 0.2s;
}

.contact-form input:focus, .contact-form textarea:focus,
.contact-form input:hover, .contact-form textarea:hover {
    box-shadow: 2px 2px 8px var(--secondary-color);
}

.btn--send-message { 
    width: 100%; 
    text-align: center;
}
