.contact-form-container, .contact-social { 
    flex: 1; 
    padding-top: 3.2rem;
    padding-left: 0.8rem;
    letter-spacing: 1px;
    line-height: 2.8rem;
}

.contact-social p:first-child { 
    text-align: center; 
    font-size: 3.2rem;
    font-weight: 200;
}

.flex--contact-me { gap: 6.4rem; }

.grid--social-icons { 
    justify-items: center; 
    margin-top: 9rem; 
}

/* ------- R E V E A L   A N I M A T I O N ------- */
.reveal-contact-header { 
    transform: translateY(12rem);
    opacity: 0;
    transition: all 1.2s ease-out;
}
.reveal-contact-header.active { 
    transform: translateY(0);
    opacity: 1;
}

.reveal-contact-content { 
    transform: translateY(15rem);
    opacity: 0;
    transition: all 2s ease-out;
    transition-delay: 0.5s;
}
.reveal-contact-content.active { 
    transform: translateY(0);
    opacity: 1;
}