.contact-form-container, .contact-social { 
    flex: 1; 
    padding-top: 3.2rem;
    padding-left: 0.8rem;
    letter-spacing: 1px;
    line-height: 2.8rem;
}

.contact-social p:first-child { 
    text-align: center; 
    font-size: 3.2rem;
    font-weight: 200;
}

.flex--contact-me { gap: 6.4rem; }

.grid--social-icons { 
    justify-items: center; 
    margin-top: 9rem; 
}