.grid--contact-form-layout { 
    grid-template-columns: 1fr 2fr;
    row-gap: 2rem; 
    align-items: center;
}

.contact-form { 
    max-width: 60rem; 
    margin-top: 3.2rem;
}

.contact-form input {
    max-width: 40rem; 
    height: 3.2rem;   
    letter-spacing: 1.2px;         
} 

.contact-form input.error,
.contact-form textarea.error { 
    outline: 1px solid red; 
}
.contact-form textarea { resize: none; }

.contact-form input, .contact-form textarea {
    font-size: 1.6rem;
    color: var(--dark-bg); 
    font-family: 'Poppins';
    padding: 0 6px;
    border: 1px solid var(--medium-bg);
    transition: all 0.2s;
}

.contact-form input:focus, .contact-form textarea:focus,
.contact-form input:hover, .contact-form textarea:hover {
    box-shadow: 2px 2px 8px var(--secondary-color);
}

.btn--send-message { 
    width: 100%; 
    text-align: center;
}
