.flex--tech-overview { 
    justify-content: space-between; 
    gap: 5.6rem;
}

.tech-background { 
    flex: 1; 
    letter-spacing: 0.5px;
    line-height: 26px;
    /* text-align: justify; */
}

.grid--skills { 
    flex: 1; 
    justify-items: center;
    align-items: center;
}

.grid-item-col-2 { grid-column: 2; }
.grid-item-col-3 { grid-column: 3; }
