.flex--tech-overview { 
    justify-content: space-between; 
    gap: 5.6rem;    
}

.tech-background { 
    flex: 1; 
    letter-spacing: 0.5px;
    line-height: 2.6rem;   
    text-align: justify; 
}

.grid--skills { 
    flex: 1; 
    justify-items: center;
    align-items: center;
}

.grid-item-api { grid-column: 2; }
.grid-item-sql { grid-column: 3; }


/* ------- R E V E A L   A N I M A T I O N ------- */
.reveal-skills-header {
    transform: translateY(15rem);
    opacity: 0;
    transition: all 1.2s ease-out;
}
.reveal-skills-header.active {
    transform: translateY(0);
    opacity: 1;
}

.reveal-skills-content {
    transform: translateY(6.4rem);
    opacity: 0;
    transition: all 2s ease-out;
    transition-delay: 0.5s;
}
.reveal-skills-content.active {
    transform: translateY(0);
    opacity: 1;
}



/* ********************************************************************** */
/* *************************  MEDIA QUERIES  **************************** */
/* ********************************************************************** */
@media (max-width: 1200px) {    
    .grid--skills img { width: 10rem; }
    
    .flex--tech-overview { gap: 0 !important; }

    .tech-background { 
        letter-spacing: 0;
        line-height: 2.4rem;
        text-align: justify;
    }

    .reveal-skills-header, 
    .reveal-skills-content {
        transform: translateY(0);
        opacity: 1;        
    }    
}

@media (max-width: 1122px) {
    .reveal-skills-header { font-size: 4.8rem; }
    .tech-background p { font-size: 1.4rem; }

    .flex--tech-overview { display: block !important; }

    .grid--skills img { width: 7rem; }

    .tech-background { 
        letter-spacing: 0.5px;
        line-height: 2.2rem;   
        text-align: justify; 
    }
    .grid--skills {
        grid-template-columns: repeat(6, auto) !important;        
        row-gap: 2.4rem;     
        margin-top: 1.6rem;   
    }
    .grid-item-net-core { grid-column: 2; }
    .grid-item-c-sharp { grid-column: 3; }
    .grid-item-api { grid-column: 4; }
    .grid-item-sql { grid-column: 5; }
}    

@media (max-width: 1028px) {
    .reveal-skills-header { font-size: 4rem; }
    .tech-background p { font-size: 1.4rem; }
}