.flex { height: 500px; }

.flex--tech-overview { 
    justify-content: space-between; 
    gap: 1.2rem;
}

.tech-background { 
    flex: 1; 
    letter-spacing: 0.5px;
    line-height: 26px;
    text-align: justify;
}

.skill-icon { flex: 1; }