/* ***********************  WEBSITE STANDARDS  ************************** */
/*
    COLOR THEME-
        PRIMARY: #D5C455
            SHADES: #6B622B, #C0B04D

        SECONDARY: #46351D
            SHADES: #6b5d4a

        TERNARY: ---

        BACKGROUND: #E6E6E6
        FONT-COLOR: #454545;

    SIZES (px): 8, 12, 16, 20, 24, 28, 32, 40, 48, 56, 64, 72, 80 
*/
/* ********************************************************************** */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: var(--font-color);
  /* max-width: 1600px; */
}



/* ********************************************************************** */
/* **********************  GLOBAL DECLARATIONS  ************************* */
/* ********************************************************************** */
:root {
  --primary-color: #d5c455;
  --primary-shade: #6b622b;

  --secondary-color: #46351d;
  --secondary-shade: #6b5d4a;

  --light-bg: #e6e6e6;
  --medium-bg: #b8b8b8;
  --dark-bg: #454545;
  --font-color: #454545;
}



/* ********************************************************************** */
/* ************************  DEV/TESTING CLASSES  *************************** */
/* ********************************************************************** */
.border-light { border: 1px solid var(--medium-bg); }
.border-red { border: 1px solid red; }
.border-green { border: 1px solid green; }
.border-blue { border: 1px solid blue; }
.border-strong { border: 3px solid black; }
.border { border: 1px solid; }


/* ********************************************************************** */
/* ************************  UTILITY CLASSES  *************************** */
/* ********************************************************************** */
.flex { display: flex; }

.grid { display: grid; }
.grid--cols-2 { grid-template-columns: repeat(2, 1fr); }
.grid--cols-3 { grid-template-columns: repeat(3, 1fr); }
.grid--cols-4 { grid-template-columns: repeat(4, 1fr); }

.btn {
  display: inline-block;
  padding: 1.2rem;
  font-weight: 300;
  text-decoration: none;
}

.btn--primary {
  color: var(--light-bg);
  background: var(--secondary-color);
  transition: all 0.2s;
}
.btn--primary:hover { 
  background: #2a2011;
  cursor: pointer;
}

.btn--secondary {
  color: var(--secondary-color);
  background: var(--light-bg);
  transition: all 0.2s;
}
.btn--secondary:hover {
  color: var(--light-bg);
  background: var(--secondary-color);
}




/* ********************************************************************** */
/* *****************  R E V E A L   A N I M A T I O N  ****************** */
/* ********************************************************************** */

/* Section headers */
.reveal-header {
  transform: translateY(2rem);
  opacity: 0;
  transition: all 1s ease-out;
}
.reveal-header.active { 
  transform: translateY(0);
  opacity: 1;
}

/* Section content */
.reveal-content { 
  transform: translateY(2rem);
  opacity: 0;
  transition: all 1s ease-out;
  transition-delay: 0.2s;
}
.reveal-content.active { 
  transform: translateY(0);
  opacity: 1;
}


/* ********************************************************************** */
/* *************************  MEDIA QUERIES  **************************** */
/* ********************************************************************** */
@media (max-width: 600px) {
  .reveal-header { 
    transform: translateY(0);
    opacity: 1;
  }
  .reveal-content { 
    transform: translateY(0);
    opacity: 1;
  }
}