.container {
    margin: 0 auto;
    padding: 10rem 24rem 0;
  }
  
  .section-about {
    height: 100vh;
    background-image: linear-gradient(to top right, var(--light-bg) 0%, var(--light-bg) 50%, var(--primary-color) 50%, var(--primary-color) 100%);
  }
  
  .flex--about-container {
    /* margin-top: 11.5rem; */
    gap: 10px;
    justify-content: space-around;
    align-items: center;
  }
  
  .flex--personal-info {
    flex-direction: column;
    gap: 10px;
    max-width: 34rem;
    padding: 10px;
    letter-spacing: 0.7px;
    text-align: center;
    /* border: 1px solid var(--light-bg); */
    color: var(--secondary-shade);
    /* background: var(--light-bg); */
    background-image: linear-gradient(rgba(230, 230, 230, 0.9), rgba(230, 230, 230, 0.9));
  }
  
  .flex--personal-info div:first-child { border: none; }
  
  .info-card {
    font-weight: 300;
    padding: 20px;
    max-width: 300px;
    border-bottom: 1px solid var(--primary-tint);
    overflow: hidden;
  }
  
  .flex--know-more {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .flex--know-more p:first-child {
    letter-spacing: 0.5px;
  }