/* ***********************  WEBSITE STANDARDS  ************************** */
/*
    COLOR THEME-
        PRIMARY: #D5C455
            SHADES: #6B622B, #C0B04D

        SECONDARY: #46351D
            SHADES: #6b5d4a

        TERNARY: ---

        BACKGROUND: #E6E6E6
        FONT-COLOR: #454545;

    SIZES (px): 8, 12, 16, 20, 24, 28, 32, 40, 48, 56, 64, 72, 80 
*/
/* ********************************************************************** */

* {
    padding: 0;
    margin: 0;
  }
  
  html {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--font-color);
    max-width: 160rem;
  }
  
  
  
  /* ********************************************************************** */
  /* **********************  GLOBAL DECLARATIONS  ************************* */
  /* ********************************************************************** */
  :root {
    --primary-color: #d5c455;
    --primary-tint: #c0b04d;
    --primary-shade: #6b622b;
  
    --secondary-color: #46351d;
    --secondary-shade: #6b5d4a;
  
    --light-bg: #e6e6e6;
    --font-color: #454545;
  }
  
  
  
  /* ********************************************************************** */
  /* ************************  UTILITY CLASSES  *************************** */
  /* ********************************************************************** */
  .border {
    border: 1px solid red;
  }
  .border-strong {
    border: 2px solid black;
  }
  
  .flex { display: flex; }
  
  .grid { display: grid; }
  .grid--cols-2 { grid-template-columns: repeat(2, 1fr); }
  .grid--cols-3 { grid-template-columns: repeat(3, 1fr); }
  .grid--cols-4 { grid-template-columns: repeat(4, 1fr); }
  
  .btn {
    display: inline-block;
    padding: 1.2rem;
    font-weight: 300;
    text-decoration: none;
  }
  .btn--primary {
    color: var(--light-bg);
    background: var(--secondary-color);
  }
  
  
  
  
  /* ********************************************************************** */
  /* ****************************  HEADER  ******************************** */
  /* ********************************************************************** */
  .menu-area { background: var(--light-bg); }
  .nav-links-container {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 2.8rem 0;
  }
  
  .nav-link {
    font-weight: 300;
    color: var(--primary-shade);
    padding-left: 4px;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1.5px solid var(--light-bg);
    padding-bottom: 8px;
    transition: all 0.5s;
  }
  
  .nav-link:hover {
    border-bottom: 1.5px solid var(--primary-shade);
    padding-bottom: 2px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.8;
  }
  
  
  /* ********************************************************************** */
  /* ************************  BODY (LANDING)  **************************** */
  /* ********************************************************************** */
  .section-home {
    height: 89.2vh;
    min-height: 100%;
    background-image: linear-gradient(to bottom right, var(--light-bg) 0%, var(--light-bg) 50%, var(--primary-color) 50%, var(--primary-color) 100%)
  }
  
  .container-home {
    padding: 9.6rem 24rem;    
    /* padding-top: 5%;
    padding-left: 5%; */
    margin: 0 auto;
  }
  
  .grid--intro {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    color: var(--secondary-shade);
  }
  
  .intro-me h1 { 
    font-size: 8rem; 
    letter-spacing: -3px;
  }
  
  .intro-me p { 
    font-size: 8rem;
    font-weight: 100;
  }
  
  .intro-about {
    grid-row: 2;
    grid-column: 2;
  }
  
  .intro-about p {
    color: var(--secondary-shade);
    font-size: 2.4rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .flex--hobbies {
    flex-direction: column;
    align-items: center;
  }
  
  
  
  /* ********************************************************************** */
  /* *************************  BODY (ABOUT)  ***************************** */
  /* ********************************************************************** */
  .container {
    margin: 0 auto;
    padding: 10rem 24rem 0;
  }
  
  .section-about {
    height: 100vh;
    background-image: linear-gradient(to top right, var(--light-bg) 0%, var(--light-bg) 50%, var(--primary-color) 50%, var(--primary-color) 100%);
  }
  
  .flex--about-container {
    /* margin-top: 11.5rem; */
    gap: 10px;
    justify-content: space-around;
    align-items: center;
  }
  
  .flex--personal-info {
    flex-direction: column;
    gap: 10px;
    max-width: 34rem;
    padding: 10px;
    letter-spacing: 0.7px;
    text-align: center;
    /* border: 1px solid var(--light-bg); */
    color: var(--secondary-shade);
    /* background: var(--light-bg); */
    background-image: linear-gradient(rgba(230, 230, 230, 0.9), rgba(230, 230, 230, 0.9));
  }
  
  .flex--personal-info div:first-child { border: none; }
  
  .info-card {
    font-weight: 300;
    padding: 20px;
    max-width: 300px;
    border-bottom: 1px solid var(--primary-tint);
    overflow: hidden;
  }
  
  .flex--know-more {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .flex--know-more p:first-child {
    letter-spacing: 0.5px;
  }