.menu-area { 
  background: var(--light-bg); 
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0);
}

.nav-links-container {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 2.8rem 0;
}

/* TODO: border-bottom visible slightly */
.nav-link {
  font-weight: 300;
  color: var(--primary-shade);
  padding-left: 4px;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  padding-bottom: 8px;
  transition: all 0.5s;
}

.nav-link:hover {
  border-bottom: 2px solid var(--primary-shade);
  padding-bottom: 2px;
}

/* .sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.8;
} */