.flex--xp-column { 
    flex-direction: column; 
    gap: 3.2rem; 
}

.flex--logo-wrapper > img { 
    align-self: flex-start;
    width: 180px; 
}

.summary-header { margin-bottom: 8px; }

.org-title { letter-spacing: -0.5px; }
.org-duration { font-weight: 200; }

.work-summary > p {
    font-size: 1.8rem;
    line-height: 2.6rem;   
    /* text-align: justify; */
}
