.about-me-content { 
    margin-top: 2.8rem; 
    flex: 0.8;
}

.about-me-content > p { 
    margin-bottom: 2.4rem; 
    font-size: 1.8rem;
    letter-spacing: 0.3px;
    line-height: 2.6rem;   
    text-align: justify;
}

.about-me-content span.highlight { font-weight: 600; }

.btn-wrapper a { color: var(--font-color); }

.profile-picture { 
    margin: auto;
    overflow: hidden; 
    box-shadow: 0 0 20px var(--dark-bg);
}

.profile-picture > img {    
    width: 35rem;    
}

/* ------- R E V E A L   A N I M A T I O N ------- */
.reveal-about-header { 
    transform: translateY(2rem);
    opacity: 0;
    transition: all 1s ease-out;
}
.reveal-about-header.active { 
    transform: translateY(0);
    opacity: 1;
}

.reveal-about-content { 
    transform: translateY(2rem);
    opacity: 0;
    transition: all 1s ease-out;
    transition-delay: 0.2s;
}
.reveal-about-content.active { 
    transform: translateY(0);
    opacity: 1;
}