.flex--about-me { gap: 8rem; }

.about-me-content { 
    margin-top: 2.8rem; 
    flex: 1;
}

.about-me-content > p { 
    margin-bottom: 2.4rem; 
    font-size: 1.8rem;
    letter-spacing: 0.3px;
    line-height: 2.6rem;   
    text-align: justify;
}

.about-me-content > p a { 
    color: var(--font-color); 
    text-decoration: none; 
} 
.about-me-content > p a:hover { color: #010190; } 

.link-text { border-bottom: 1px solid; }

.icon-new-window { width: 1.4rem; }

.btn-wrapper a { color: var(--font-color); }

.carousel-container { 
    flex: 1;
    margin: auto;
    overflow: hidden; 
    /* box-shadow: 0 0 20px var(--dark-bg); */
}

.carousel-container .slide > img { width: 33rem; }

.know-work-btn-wrapper {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;  
  transition: all 1s ease-out;
}
.know-work-btn-wrapper.active {  
  top: 85%;
  opacity: 1;  
}



/* ********************************************************************** */
/* ************ P H O T O   R E V E A L   A N I M A T I O N  ************ */
/* ********************************************************************** */
.carousel-container {
    transform: translateY(2rem);
    opacity: 0;
    transition: all 1s ease-out;
    transition-delay: 0.4s;
}
.carousel-container.active {
    transform: translateY(0);
    opacity: 1;
}


/* ********************************************************************** */
/* *************************  MEDIA QUERIES  **************************** */
/* ********************************************************************** */
@media (max-width: 1350px) {    
    .about-me-content > p { 
        margin-bottom: 1.6rem; 
        font-size: 1.6rem;
        line-height: 2.4rem;           
    }
}

@media (max-width: 1200px) {    
    .flex--about-me { gap: 6.4rem; }
}

@media (max-width: 1122px) {
    .reveal-about-header { font-size: 7.2rem; }
    .flex--about-me { gap: 4.8rem; }    
    .carousel-container { box-shadow: none; }
    .carousel-container img { width: 28rem; }
}    

@media (max-width: 1040px) {
    .reveal-about-header { font-size: 6.4rem; }
    .about-me-content > p { 
        margin-bottom: 1.4rem; 
        font-size: 1.4rem;    
        line-height: 2.2rem;              
    }
    .carousel-container img { width: 26rem; }
}

@media (max-width: 960px) {
    .reveal-about-header { font-size: 5.6rem; }
    .about-me-content > p { margin-bottom: 1rem; }    
}

@media (max-width: 870px) {
    .about-me-content > p { 
        margin-bottom: 1.6rem; 
        font-size: 1.6rem;    
        line-height: 2.4rem;              
    }
    .carousel-container { display: none; }   
}

@media (max-width: 800px) {
    .reveal-about-header { font-size: 4.8rem; }    
}

@media (max-width: 580px) {
    .about-me-content > p { 
        margin-bottom: 1.4rem; 
        font-size: 1.4rem;    
        line-height: 2.2rem;              
    }
}