.flex--about-me {
    justify-content: space-between;
    /* margin-top: 6.4rem; */
}

.grid--about-me-content {
    column-gap: 2rem;
    row-gap: 2.6rem;
    margin-top: 5.6rem;
}

.btn-wrapper a { color: var(--font-color); }

.profile-picture {
    height: 40rem !important;
    width: 30rem !important;
    /* overflow: scroll; */
}

.reveal-about { 
    transform: translateY(120px);
    opacity: 0;
    transition: all 1.2s ease-out;
}
.reveal-about.active { 
    transform: translateY(0);
    opacity: 1;
}