.app-container {
    margin: 0 auto;
    /* padding: 10rem; */
    padding: 7.2rem 6%;
}

.app-header {
    font-size: 8rem;
    letter-spacing: -3px;
}

.app-header-light {
    font-size: 6.4rem;
    font-weight: 100;
    margin-bottom: 2.8rem;        
}

.header-home { font-size: 8rem; }

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    animation-name: typing;
    animation-duration: 3.5s;
    animation-timing-function: steps(85, end);
}

@keyframes typing {
    from { width: 0; }
    to { width: 100% }
}
    

span.highlight { font-weight: 500; }

.app-card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 20rem;            
}

.app-card-text {
    padding: 4.4rem 2rem;
    text-align: center;
    font-weight: 200;
    letter-spacing: 0.5px;
}

.app-icon { width: 11rem; }
